<header>
    <h1>Header test</h1>
</header>

    <div class="container-fluid"></div>
        <main>
            <div class="nav1">

                <h2>One</h2>
                <h2>Two</h2>
                <h2>Three</h2>
                <h2>Four</h2>

            </div>
        </main>
    </div>

<div class="main1">

    {{#each blogs as |blog|}}

        <div class="blog">
             {{blog.id}}
        </div>

    {{/each}}

</div>