
<div class="mainBack">
<div class="main1All">

    {{#each blogs as |blog|}}

        <div class="blog">
            <div id="author">
             {{blog.author}}
             </div>
             <div id="content">
             {{blog.content}}
             </div>

             <form id="newComment">
             <input type="text" name="newComment" id="newComment">
             <button id="commentBtn">Comment</button>
             </form>
        </div>

    {{/each}}

<div class="newPostBlock">
    <form id="newPostForm"> 
<h1>Username</h1>
<input type="text" name="blogger" id="blogger">
<h1>What's on your mind?</h1>
<input type="text" name="blogContent" id="blogContent">
<button id="newBlogPost">Post</button>
    </form>
</div>
</div>
</div>