
<div class="mainBack">
<div class="main1All">

    {{#each blogs as |blog|}}

        <div class="blog">
            <div id="author">
             {{blog.author}}
             </div>
             <div id="content">
             {{blog.content}}
             </div>

             <button id="commentBtn">Comment</button>
        </div>

    {{/each}}

<div class="newPostBlock">
    <form id="newPostForm"> 
<h1>Blog User</h1>
<input type="text" name="blogger" id="blogger">
<h1>Blog content</h1>
<input type="text" name="blogContent" id="blogContent">
<button id="newBlogPost">Post</button>
    </form>
</div>
</div>
</div>