<header>
   <h1> Tech bloggers </h1>
</header>

    <div class="container-fluid"></div>
        <main>
            <div class="nav1">

                <a href="/"><button id="homeBtn">Home</button></a>      
                <a href="/dashboard"><button id="dashBtn">Dashboard</button></a>
                <a href="/login"><button id="loginBtn">Log in</button></a>
                <a href="/signup"><button id="signupBtn">Sign up</button></a>

            </div>
        </main>
    </div>
<div class="mainBack">
<div class="main1">

   <h2 id="dash">Dashboard</h2>

</div>
</div>