
<div class="mainBack">
<div class="main1">
<form action="/signup" method="post" id="signup"> 
    <div class="mb-3">
  <label for="Input1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="Input1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="Input2" class="form-label">Password</label>
  <input type="password" class="form-control" id="Input2" placeholder="Password">
</div>
<button id="logInAccBtn">Log In</button>
</form>
</div>
</div>