:root {
    --darkGreen: #062C30;
    --paleGreen: #05595B;
    --paleYellow: #E2D784;
    --paleCream: #F5F5F5;
}

body {
    background-color: var(--paleGreen) !important;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--paleGreen);
    
}

header h1 {
    font-size: 4rem;
    color: var(--paleCream);
    margin-top: 1rem;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    background-color: var(--paleGreen);
}

.nav1 button {
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 3rem;
    background-color: var(--darkGreen);
    color: var(--paleCream);
    border-radius: 20%;
}

.main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkGreen);
}

.main1 .blog {
    background-color: var(--paleGreen);
    font-size: 4rem;
    margin: 2rem;
    margin-top: 3rem;
    width: 70%;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    color: var(--paleCream);
    border-radius: 10%; 
}

#submitBtn {
    margin: 2rem;
    margin-bottom: 5rem;
}

.form-label {
    margin: 2rem;
    margin-top: 4rem;
}

#dash {
    color: #F5F5F5;
}